<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@children</key>
	<array>
		<dict>
			<key>@children</key>
			<array>
				<dict>
					<key>compatible</key>
					<array>
						<string>ARM,cortex-a9</string>
						<string>ARM,v7</string>
					</array>
					<key>device_type</key>
					<string>cpu</string>
					<key>name</key>
					<string>cpu0</string>
					<key>reg</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>name</key>
			<string>cpus</string>
			<key>device_type</key>
			<string>arm-cpu</string>
			<key>compatible</key>
			<string>cpu-interconnect,arm</string>
		</dict>
		<dict>
			<key>@children</key>
			<array>
				<dict>
					<key>APPL,phandle</key>
					<integer>3</integer>
					<key>compatible</key>
					<string>gic,arm</string>
					<key>device_type</key>
					<string>interrupt-controller</string>
					<key>interrupt-controller</key>
					<string>master</string>
					<key>name</key>
					<string>gic</string>
					<key>reg</key>
					<array>
						<integer>503316480</integer>
						<integer>65536</integer>
					</array>
				</dict>
				<dict>
					<key>compatible</key>
					<string>uart,pl011</string>
					<key>device_type</key>
					<string>uart</string>
					<key>interrupt-parent</key>
					<integer>3</integer>
					<key>name</key>
					<string>uart0</string>
					<key>reg</key>
					<array>
						<integer>268472320</integer>
						<integer>4096</integer>
					</array>
				</dict>
				<dict>
					<key>compatible</key>
					<string>gpio,pl069</string>
					<key>device_type</key>
					<string>gpio</string>
					<key>interrupt-parent</key>
					<integer>3</integer>
					<key>name</key>
					<string>gpio0</string>
					<key>reg</key>
					<array>
						<integer>268513280</integer>
						<integer>4096</integer>
					</array>
				</dict>
				<dict>
					<key>compatible</key>
					<string>clcd,pl111</string>
					<key>device_type</key>
					<string>clcd</string>
					<key>interrupt-parent</key>
					<integer>3</integer>
					<key>name</key>
					<string>clcd</string>
					<key>reg</key>
					<array>
						<integer>268566528</integer>
						<integer>65536</integer>
					</array>
				</dict>
			</array>
			<key>compatible</key>
			<string>arm-io,pba8</string>
			<key>device_type</key>
			<string>pba8-io</string>
			<key>name</key>
			<string>arm-io</string>
		</dict>
	</array>
	<key>APPL,phandle</key>
	<integer>1</integer>
	<key>compatible</key>
	<array>
		<string>iPhone1,1</string>
		<string>AppleARM</string>
		<string>M68AP</string>
	</array>
</dict>
</plist>
